cmake
tensordict
accelerate
codetiming
datasets
hydra-core
peft
pandas
pylatexenc
torchdata
wandb
tensorboard
numba
pyarrow
transformers>=4.51.0
ray[default]
pybind11
ninja
wheel
numpy
six
regex
decorator
attrs
psutil
pyyaml
protobuf
einops
scipy
sentencepiece
pytest
tokenizers<=0.20.3
gpytorch
scikit-learn
SQLAlchemy
pulp==3.0.0
highspy==1.9.0
