cmake
tensordict
accelerate
codetiming
datasets
hydra-core
peft
pandas
pylatexenc
torchdata
wandb
uvloop==0.21.0
tensorboard
mathruler
numba
ray[default]
cbor2
pybase64
openai-harmony
modelscope
transformers==4.55.0
fastapi
zmq
uvicorn
openai
msgspec
blake3
py-cpuinfo
gguf
